<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common::head}"></head>
<body onclick="sessionStorage.setItem('scrollPosition', window.scrollY)" class="w3-light-grey">
    <div th:replace="~{common::topbar}"></div>
    <nav th:replace="~{common::sidebar}"></nav>

    <div class="w3-main" style="margin-top:43px;" id="pageContent">

        <header class="w3-container" style="padding-top:22px">
            <h5><b><i class="fa fa-bullseye fa-fw"></i>  Geo</b></h5>
        </header>

        <div th:replace="~{common::table (${regionTable}, regionTable)}"></div>
        <div th:replace="~{common::table (${countryTable}, countryTable)}"></div>
        <div th:replace="~{common::table (${locationTable}, locationTable)}"></div>

        <script th:src="@{/js/table-modal.js}"></script>
        <script th:src="@{/js/table-search-pagination.js}"></script>
        <script th:if="${formError != null}" th:inline="javascript">
            th_geo_tableId = [[${tableId}]];
            th_geo_row = [[${formData}]];
            th_geo_form = window[th_geo_tableId+'Form'];
            th_geo_formError = [[${formError}]];
            th_geo_formActionType = [[${formActionType}]];
            document.addEventListener('DOMContentLoaded', function() {
                th_geo_form.error = th_geo_formError;
                th_geo_form.fullFormAction = th_geo_form.formAction+th_geo_formActionType;
                createModal(th_geo_tableId, th_geo_form, true);
                populateForm('modalForm', th_geo_form, th_geo_row);
            });
        </script>
    </div>

</body>
</html>
