<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common::head}"></head>
<body class="w3-light-grey">
    <div th:insert="~{common::topbar}"></div>
    <nav th:insert="~{common::sidebar}"></nav>
    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px;margin-top:43px;" id="pageContent">
        <header class="w3-container" style="padding-top:22px">
            <h5><b><i class="fa fa-dashboard"></i>  Home</b></h5>
        </header>
    </div>
</body>
</html>